.forget-pass{
    background: url('https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExMW8ybms3ZDNqa2gwNmx3NG9lZ2doNmkwZGF1bm50cWNmdTFxOWMybyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/7AtHoQ9XWbpwLRxs0t/giphy.gif') no-repeat;
    background-size: cover;
    margin-top: -20px;
}