.clgname h1 {
  font-size: 40px;
}

.header-content {
  background-color: rgb(0, 0, 0);
}
.divider {
  color: white;
}

.clgname-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  flex-direction: column;
}

.clg-logo {
  width: 70px;
  position: relative;
}

@media (min-width: 768px) {
  .clgname-container {
    flex-direction: row;
  }

  .clg-logo {
    width: 90px;
  }
}
